.user{
    width: 100px;
    height: 80px;
    border: 1px solid gray;
    background-color: antiquewhite;
    float: left;
    margin:20px;
    text-align: center;
    font-family: Verdana;
    border-radius: 10px;
    font-size:20px;
}

.cross{
    width: 24px;
    margin: 5px auto;
}